<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>QR Code Checker Tool</title>
  <meta name="description" content="Scan QR Code and verify if code matched">
  <meta name="author" content="Yulius Giann">

  <meta property="og:title" content="QR Code Checker Tool">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
  <meta property="og:description" content="Scan QR Code and verify if code matched">
  <meta property="og:image" content="image.png">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="tailwind.css?v=1.0">
	<link rel="stylesheet" href="custom.css?v=1.0">

</head>

<body>

	<div style="background-color:#3b5069;" id="qr" class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 relative">
		<img src="Sayap-kiri.png" class="absolute left-0">
		<img src="Sayap-kanan.png" class="absolute right-0">
		<div class="max-w-md w-full space-y-8 relative">
			
			<div>
				<h2 style="border-color:#dc5545;" class="mt-6 text-center text-8xl text-white mb-5 border-orange-500 border-b-4 pb-5" v-if="name">
					{{ name }}
				</h2>
				<h3 class="mt-6 text-center text-6xl text-white">
					QR Barcode Validator
				</h3>
				<p class="mt-2 text-center text-sm text-white">Type the verified input <br> put focus to barcode input textbox <br> then start scanning</p>
			</div>
			<form class="mt-8 space-y-6" @submit.prevent="" method="POST">
				<input type="hidden" name="remember" value="true">
				<div class="rounded-md shadow-sm -space-y-px">
					<!-- <div>
						<label for="verified-input" class="sr-only">Verified Input</label>
						<input v-model="verified" id="verified-input" name="verified-input" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Verified Input">
					</div> -->
					<div>
						<label for="barcode-input" class="sr-only">Barcode Input</label>
						<input id="barcode-input" v-model="inputKey" @keyup.enter.prevent="checkInput" name="barcode-input" type="text" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-white rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Barcode Input">
					</div>
				</div>

			</form>
		</div>
	</div>

  <script src="vue.js"></script>
  <script src="qr.js"></script>
</body>
</html>